html {
  font-family: "Lato", sans-serif;
}

.wrapper {
  margin: 50px 25px 0 25px;
  display: grid;
  grid-gap: 25px;
  grid-template-columns: 2fr 1fr;
}
.headers {
  text-align: center;
  margin-bottom: 15px;
}

ul.list {
  list-style: none;
}

.create-todo-section {
  padding: 25px;
  background-color: lightblue;
  border-radius: 5px;
}
select {
  min-width: 50px;
  max-width: 100px;
}
.form-group{
  display: grid;
  grid-template-columns: 1fr;
}
.todo-list-section{
  padding: 25px;
  background-color: lightcoral;
  border-radius: 5px;
}
.todo-list-container{
  display: grid;
  grid-template-columns: 1fr;
}

.add-new-form {
  width: 60%;
  margin: 0 auto;
}